@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using ReactAccountingWebMvc.Domain.Models
@using ReactAccountingWebMvc.Models
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
<!-- container -->



<section id="intro" class="clearfix">
    <div class="container">

    </div>
</section><!-- #intro -->

<main id="main">
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
            <div class="row">
                <!-- Article main content -->
                <article class="col-xs-12 maincontent">
                    <header class="page-header">
                        <h1 class="page-title">Восстановление пароля</h1>
                    </header>

                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3 class="thin text-center">Введить почтовый адрес</h3>
                                <hr>

                                <form asp-action="ForgotPassword" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Email">Почта</label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="btn btn-action">Подтвердить</button>
                                </form>
                            </div>
                        </div>

                    </div>

                </article>
                <!-- /Article -->

            </div>
        </div>	<!-- /container -->
    </section><!-- #about -->
</main>